/target/

lib/bonita-client-7.1.5.jar

lib/bonita-event-1.5.0.jar

lib/bonita-properties-1.6.jar

lib/bonita-properties-2.1.0.jar

lib/bonita-server-7.1.5.jar

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs

lib/CustomPagePing-2.4.0.jar

lib/http-builder-0.5.1.jar

release/1.0/custompage_ping.rename_to_zip

release/2.0/custompage_ping20160907.zip

release/2.1/custompage_ping.20161208.zip

release/2.2/custompage_ping.zip

release/2.3/custompage_ping.zip

resources/img/UniversityOfAuckland.jpg

lib/bonita-client-7.8.4.jar

lib/bonita-server-7.8.4.jar

lib/bonita-store-1.0.0.jar
